<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Jayamadhan.Sivanraj/OneDrive - Benefithub Inc/Documents/My Drive/Learning/WorkSpace"><classes><class name="tests.C1_FirstTestNGClass"><methods><include name="tc1"/><include name="tc2"/></methods></class><class name="tests.C2_ExampleForAnotherClass"><methods><include name="tc2"/></methods></class><class name="tests.C3_MultipleTcs"><methods><include name="tc3"/><include name="tc33"/></methods></class><class name="tests.C4_Annotations"><methods><include name="test"/></methods></class><class name="tests.C5_Grouping"><methods><include name="tc1"/><include name="tc2"/></methods></class><class name="tests.WorkoutSample"><methods><include name="sendMail"/></methods></class></classes></test></suite>